.main-container {
  padding: 20px;
  p {
    color: var(--ion-color-light);
    font-size: 0.9rem;

  }
}

.title-container {
  margin-bottom: 50px;
  .title {
    color: var(--ion-color-light); font-weight: bold;
  }
}

.form-recovery {
  display: flex;
  flex-direction: column;
  ion-button {
    margin-top: 15px;
    width: 100px;
  }
}
