<div class="main-container">
    <div text-center class="title-container">
        <h3 class="title">Password Recovery</h3>
    </div>
    <p>
        If you forget your password please send to us your email, we try to send to you and a recovery password.
    </p>
    <div class="form-recovery">
        <ion-item>
            <ion-label position="floating">E-Mail</ion-label>
            <ion-input></ion-input>
        </ion-item>
        <ion-button color="primary" no-margin align-self-end>Send</ion-button>
    </div>

</div>
